<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-12" style="margin-left:1%; font-size: 20px;">
                    <p>{{customer.name}} {{customer.surName}}</p>
                </div>
                <div class="col-xs-12">
                    <div class="accounts" *ngFor="let account of customer.accounts;let i = index"
                        style="cursor: pointer;" (click)="toAccount(i)">
                        <label>{{account.productType}}</label>
                        <div>{{account.balance}} {{account.currency}}</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-default btn-circle btn-xl" routerLink="../">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div *ngIf="!isSavingsAccount">
                <div class="col-xs-12" style="margin-left:1%;margin-top: 20px;">
                    <p style="font-size: 20px;">Create new Savings Account</p>
                    <div class="col-xs-4">

                        <div class="form-group">
                            <p for="name">Initial amount</p>
                            <input type="text" id="name" class="form-control" formControlName="initialamount">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <p for="name">Origin account</p>
                            <select class="form-control">
                                <option *ngFor="let account of customer.accounts" value={{account.accountId}}>
                                    {{account.productType}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button style="margin-top: 30px; " class="btn btn-success" type="button"
                            (click)="onCreateSavingsAccount()">Create</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>